@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .title {
    @apply uppercase font-bold text-gray-500 mb-2;
  }

  .values-container {
    @apply grid grid-cols-3 gap-3;
  }

  .picker {
    @apply flex flex-col items-center transition-all hover:cursor-pointer opacity-90;
  }

  .label {
    @apply text-center font-bold text-xl text-gray-500 capitalize transition-all;
  }

  .dot {
    @apply w-8 h-8 rounded-full border-2 border-black;
  }

  .active {
    @apply text-white border-b-2 border-black;
  }
}

body {
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
